
div {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 50px;
    border: 20px groove tomato;
    background-image: url("ktm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px auto;
}