div{
    border: 2px solid maroon ;
    height: 100px;
    width: 100px;
    border-radius: 0%;


}
img{
    border: 2px dotted mediumspringgreen;
    height: 300px;
    width: 300px;
    border-radius: 20%;
}

.one{
    border: 5px solid orangered;
    border-radius: 45%;
}

.two{
    border: 5px dashed purple;
    border-radius: 66%;
}

.three{
    border: 5px groove chocolate;
    border-radius: 100%;
}